@charset "utf-8";
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

a, u, ins {
    text-decoration: none;
}

img {
    border: none;
    font-style: italic;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
    background-color: #f6f9f9;
    color: #676969;
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    margin: 10%;
}

.avatar {
    float: left;
    margin: 0 40px 20px 0;
}

.avatar img {
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
}

.content {
    float: left;
    width: 600px;
}
    .title {
        font-size: 48px;
        font-weight: normal;
        line-height: 1;
        display: inline-block;
        max-width: 180px;
    }
    
    .content > p {
      font-size: 12pt;
    }
    
    .social-icons {
      margin-top: 60px;
    }

    .social-icons li {
        display: inline;
    }

    .social-icons li a {
        display: inline-block;
        margin-right: 10px;
        text-indent: -9999px;
        width: 30px;
        height: 30px;

    }
    .social-icons li a.twitter {
        background-image: url(../img/twitter.svg);
    }
    .social-icons li a.github {
        background-image: url(../img/github.svg);
    }
    .social-icons li a.linkedin {
        background-image: url(../img/linkedin.svg);
    }
    .social-icons li a.medium {
        background-image: url(../img/medium.svg);
    }


/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
p,
ul, ol, dl,
.title {
    margin-bottom: 20px;
}
p {
    font-weight: bold;
}
ul, ol, dl {
    list-style-type: none;
}
a {
    color: #b92993;
    font-weight: bold;
}
a:hover, a:focus {
    color: #95a4a9;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}





/*------------------------------------*\
    $MISC
\*------------------------------------*/
a img:hover,
.social-icons a:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.85;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 800ms;
    -moz-animation-duration: 800ms;
    -ms-animation-duration: 800ms;
    -o-animation-duration: 800ms;
    animation-duration: 800ms;
}

@-webkit-keyframes bounceInDown {
    0% {
        -webkit-transform: translateY(-2000px);
    }

    60% {
        -webkit-transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInDown {
    0% {
        -moz-transform: translateY(-2000px);
    }

    60% {
        -moz-transform: translateY(30px);
    }

    80% {
        -moz-transform: translateY(-10px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounceInDown {
    0% {
        -o-transform: translateY(-2000px);
    }

    60% {
        -o-transform: translateY(30px);
    }

    80% {
        -o-transform: translateY(-10px);
    }

    100% {
        -o-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        transform: translateY(-2000px);
    }

    60% {
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

/*------------------------------------*\
    $MOBILE
\*------------------------------------*/
@media handheld, only screen and (max-width: 720px) {
    .avatar,
    .content {
        float: none;

    }

    .avatar img {
        max-width: 80px;
        max-height: 80px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .content {
        width: 100%;
    }
}
